<ul class="list-unstyled">
  <% microposts.each do |micropost| %>
    <li class="mb-3">
      <img class="mr-2 rounded" src="<%= gravatar_url(micropost.user, { size: 50 }) %>" alt="">
      <div class="media-body">
        <div>
          <%= link_to micropost.user.name, user_path(micropost.user) %> <span class="text-muted">posted at <%= micropost.created_at %></span>
        </div>
        <div>
          <p class="mb-0"><%= micropost.content %></p>
        </div>
        <div>
          <% if current_user == micropost.user %>
            <%= link_to "Delete", micropost, method: :delete, data: { confirm: "You sure?" }, class: 'btn btn-danger btn-sm' %>
          <% end %>
        </div>
      </div>
      <span class="like" id="like_form_<%= micropost.id %>">
        <% if micropost.liked_by.include?(current_user) %>
          <%= render "microposts/unlike", micropost: micropost %>
        <% else %>
          <%= render "microposts/like", micropost: micropost %>
        <% end %>
      </span>
      <div class="comment-wrapper border-top　mb-10">
  <p class="mt-5">コメント一覧</p>
  <% micropost.comments.each do |comment| %>
    <div>
      <%= comment.content %>
    </div>
  <% end %>
  <%
    id = micropost.id
    url = "/microposts/#{id}/comments"
  %>
  <%= form_with(url: url, local: true) do |f| %>
    <div class="form-group">
      <%= f.text_area :content, class: 'form-control', rows: 5 %>
    </div>
    <%= f.submit 'Post', class: 'btn btn-primary btn-block' %>
  <% end %>
</div>

    </li>
  <% end %>
  <%= paginate microposts %>
</ul>